/* reset */
@import url(./reset.css);

/*VARIABLES*/
@import url(./variables.css);

.container > * {
margin: 2rem 0;
}

.item {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    margin-top:  30px;
}



/* COULEURS DE FOND DES ENFANTS */
.item-1{
    background-color: var(--bg_color-1);
}

.item-2{
    background-color: var(--bg_color-2);
}

.item-3{
    background-color: var(--bg_color-3);
}

.item-4{
    background-color: var(--bg_color-4);
}

.item-5{
    background-color: var(--bg_color-5);
}

.item-6{
    background-color: var(--bg_color-6);
}

.item-7{
    background-color: var(--bg_color-7);
}

.item-8{
    background-color: var(--bg_color-8);
}

.item-9{
    background-color: var(--bg_color-9);
}
.item-10{
    background-color: var(--bg_color-10);
}
.item-11{
    background-color: var(--bg_color-11);
}
.item-12{
    background-color: var(--bg_color-12);
}

/* zonage DE CELLULES */
.ex2 .item-1 {
grid-row: 1/2;
grid-column: 1/3;
}


.ex2 .item-5{
    grid-row: 2/4;
    grid-column: 3/4;
    
}

.ex2 .item-12 {
    grid-row: 1/2
}

.ex2 .item-7 {
    grid-column: 1/4; /* ou encore 1/-1*/ 
    grid-row: 4/6 ;
}

.ex2 .item-2{
    grid-area: 2/1/4/3;
    /* grid row : 2/4
    grid colomn: 1/3*/ 
}

/* ZONE DE GRILLE */ 


.ex3 {
    grid-template-areas: 
    "tete tete tete"
    "gauche centre droite"
    "gauche centre droite"
    "gauche corp droite"
    ". corp ."
    ". corp ."
    ". . ."
    "pied pied pied" ;
    
}

.ex3 .item-1 {
grid-area: tete;
}

.ex3 .item-2 {
  grid-area: gauche;
}

.ex3 .item-3 {
  grid-area: centre;
}

.ex3 .item-4 {
  grid-area: droite;
}

.ex3 .item-5 {
    grid-area: corp;
}

.ex3 .item-11{

}

.ex3 .item-12 {
  grid-area: pied;
}

/*ZONE DE GRILLE BIS*/
.ex3bis {
    grid-template-areas:
      "tete tete tete"
      "gauche centre droite"
      "gauche centre droite"
      "gauche corps droite"
      "article article droite"
      "article article droite"
      "pied pied pied";
  }
  
  .ex3bis .item-1 {
    grid-area: tete;
  }
  
  .ex3bis .item-2 {
    grid-area: gauche;
  }
  
  .ex3bis .item-3 {
    grid-area: centre;
  }
  
  .ex3bis .item-4 {
    grid-area: droite;
  }
  
  .ex3bis .item-5 {
    grid-area: corps;
  }
  
  .ex3bis .item-6 {
    grid-area: article;
  }
  
  .ex3bis .item-7 {
    grid-area: ADS;
  }
  
  .ex3bis .item-8 {
    grid-area: pied;
  }
  
  /*ZONE DE GRILLE TER*/
  .ex3ter .item-1 {
    grid-area: tete;
  }
  
  .ex3ter .item-2 {
    grid-area: gauche;
  }
  
  .ex3ter .item-3 {
    grid-area: centre;
  }
  
  .ex3ter .item-4 {
    grid-area: droite;
  }
  
  .ex3ter .item-5 {
    grid-area: corps;
  }
  
  .ex3ter .item-6 {
    grid-area: article;
  }
  
  .ex3ter .item-7 {
    grid-area: articlee;
  }
  
  .ex3ter .item-8 {
    grid-area: pied;
  }

  .ex3ter .item-9{
    grid-area: pied2;}
/* MOBILE*/ 
img {
    max-width: 100%;
    height: auto;
}

  @media screen and (min-width:700px){
    body{
    background-color: :red;}
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 50px;
        gap: 10px;} 
      }

/* TABLETTE*/
    @media screen and (min-width:1000px){
        body{
        background-color: rgb(27, 211, 27);}
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            /* grid-auto-rows: 50px;*/
            /* gap: 10px; */
          }
        .ex3ter {
            grid-template-areas:
              "tete tete"
              "tete tete"
              "gauche centre "
              "gauche centre"
              "article corps"
              "article corps"
              "droite droite"
              "pied pied"
              "pied2 pied2";
          }
    }
/* DESKTOP*/
        @media screen and (min-width:1200px){
            body{
            background-color: blue;}
            .container {
                /* display: grid; */
                grid-template-columns: 1fr 1fr 1fr;
                /* grid-auto-rows: 50px;
                gap: 10px; */
              }
            .ex3ter {
                grid-template-areas:
                  "tete tete tete"
                  "gauche centre droite"
                  "gauche centre droite"
                  "gauche corps droite"
                  "article corps articlee"
                  "article corps articlee"
                  "pied pied pied"
                  "pied2 pied2 pied2 ";
              }
              }
              